*.pdb
*.exe
*.suo
*.dll
*.baml
*.cs
*.config
*.txt
*.Cache
*.lref
*.licenses
*.resources
*.docx
*.~vsdx
*.tmp
BPMS/BPMS.Model/obj/Debug/TempPE/Model.cs.dll
BPMS/BPMS.Model/obj/Debug/TempPE/Model.Designer.cs.dll
*.cache
BPMS/BPMS.Model/obj/Debug/TempPE/Model.Designer.cs.dll